# Ignore Python bytecode cache
__pycache__

# Ignore media files in homelessbooks directory
homelessbooks/media/

# Ignore the virtual environment directory
venv/

# Ignore database
db.sqlite3

# ignore pw
pw.text

# Env
.env