{% extends "books/layout.html" %}
{% load static %}

{% block body %}

<div class="container-fluid">
  <!--header-->
  <div class="page-header">
      <p>Enter ISBN to retrieve book details. If book doesn't have an ISBN enter the book's title, author and the year it was published to retrieve book details.</p>
  </div>
  <!--searches container-->
  <div class="container" id="searches-container">
    <!--isbn search form-->
    <div class="input-group" id="isbn-search-form">
      <span class="input-group-text">ISBN</span>
      <input type="text" class="form-control form-control-sm" id="isbn-search" name="isbn-search" max-length="15">      
      <input type="submit" class="btn btn-outline-primary btn-sm" id="isbn-submit" value="Search" name="isbn-submit">
    </div>
    <!--author title search form-->
    <div class="input-group" id="title-author-search-form">
      <span class="input-group-text">Title, Author, Year</span>
      <input type="text" class="form-control form-control-sm" id="title-search" name="title-search">
      <input type="text" class="form-control form-control-sm" id="author-search" name="author-search">
      <input type="text" class="form-control form-control-sm" id="published-search" name="published-search">
      <input type="submit" class="btn btn-outline-primary btn-sm" id="title-author-submit" value="Search" name="title-author-submit">
    </div>
  </div>
  <!--new book form-->
  <div class="container-fluid" id="new-book-forms-container">
      <div class="mb-3">
        {% csrf_token %}
        <div class="row">
          <div class="col">
            <input type="hidden" id="book-uid" name="book-uid" value="">
            <label for="book-title">Title</label>
            <input type="text" class="form-control form-control-sm" id="book-title" name="book-title">
            <label for="book-subtitles">Subtitle(s)</label>
            <input type="text" class="form-control form-control-sm" id="book-subtitles" name="book-subtitles">
            <label for="book-authors">Author(s)</label>
            <input type="text" class="form-control form-control-sm" id="book-authors" name="book-authors">
            <label for="book-publisher">Publisher</label>
            <input type="text" class="form-control form-control-sm" id="book-publisher" name="book-publisher">
            <label for="book-category">Category</label>
            <input type="text" class="form-control form-control-sm" id="book-category" name="book-category">
            <label for="book-publication-date">Publication Date</label>
            <input type="text" class="form-control form-control-sm" id="book-publication-date" name="book-publication-date">
          </div>
          <div class="col">
            <label for="book-page-count">Page Count</label>
            <input type="text" class="form-control form-control-sm" id="book-page-count" name="book-page-count">
            <label for="book-height">Height</label>
            <input type="text" class="form-control form-control-sm" id="book-height" name="book-height">
            <label for="book-width">Width</label>
            <input type="text" class="form-control form-control-sm" id="book-width" name="book-width">
            <label for="book-thickness">Thickness</label>
            <input type="text" class="form-control form-control-sm" id="book-thickness" name="book-thickness">
            <label for="book-print-type">Print Type</label>
            <input type="text" class="form-control form-control-sm" id="book-print-type" name="book-print-type">
            <div class="input-group mb-3 drop-down-form">
              <label class="input-group-text" for="dust-jacket-dropdown">Dust Jacket Condition</label>
              <select class="form-select form-select-sm" id="dust-jacket" name="book-dust-jacket">
                <option selected>Choose...</option>
                <option value="none">None</option>
                <option value="asnew">As New</option>
                <option value="fine">Fine</option>
                <option value="verygood">Very Good</option>
                <option value="good">Good</option>
                <option value="fair">Fair</option>
                <option value="poor">Poor</option>
              </select>
            </div>
          </div>
          <div class="col">           
            <label for="book-description">Description</label>
            <textarea class="form-control form-control-sm" id="book-description" name="book-description" cols="50" rows="7"></textarea>
            <div class="input-group mb-3 drop-down-form">
              <label class="input-group-text" for="book-binding-dropdown">Binding</label>
              <select class="form-select form-select-sm" id="book-binding" name="book-binding">
                <option selected>Choose...</option>
                <option value="hardback">Hardback</option>
                <option value="paperback">Paperback</option>
              </select>
            </div>
            <div class="input-group mb-3 drop-down-form">
              <label class="input-group-text" for="book-condition">Condition</label>
              <select class="form-select form-select-sm" id="book-condition" name="book-condition">
                <option selected>Choose...</option>
                <option value="asnew">As New</option>
                <option value="fine">Fine</option>
                <option value="verygood">Very Good</option>
                <option value="good">Good</option>
                <option value="fair">Fair</option>
                <option value="poor">Poor</option>
              </select>
            </div> 
          </div>
          <div class="col">
            <p>Book Images</p>
            <!--image preview-->
            <div id="image-previews"></div>
            <!--image upload form-->         
            <div class="input-group mb-3">
              {% csrf_token %}
              <input type="file" accept="image/*" class="form-control" id="image-upload" name="image">
              <input type="hidden" id="bookid-image-upload" name="bookid-image-upload" value="">
              <button class="btn btn-outline-primary btn-sm" id="image-upload-button" type="button">Upload</button>
            </div>    
        </div>
        <button class="btn btn-outline-primary btn-sm" formaction="{% url 'save_book' %}" method="post" id="save-book-button" type="submit">Save Book</button>
      </div>
  </div>
</div>

{% endblock %}