{% extends "books/layout.html" %}
{% load static %}

{% block body %}
<div class="card" style="width: 18rem;">
  <!--image carousel-->
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/media/{{ first_image }}" class="d-block w-100" alt="...">
      </div>
      {% for image in images %}
      <div class="carousel-item">
        <img src="/media/{{ image }}" class="d-block w-100" alt="...">
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{% endblock %}