{% extends "books/layout.html" %}
{% load static %}

{% block body %}
<div class="container-fluid" id="book-container">
    <div class="card mb-3" style="width: 60vw;">
    <!--image carousel-->
      <div class="row g-0">
        <div class="col-md-4">
          <div id="image-carousel-indicators" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/media/{{ first_image }}" class="d-block w-100" alt="{{book.title}} image">
              </div>
              {% for image in images %}
              <div class="carousel-item">
                <img src="/media/{{ image }}" class="d-block w-100" alt="{{ book.title}} image">
              </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#image-carousel-indicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#image-carousel-indicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-md-8">
          <!--book card body-->
          <div class="card-body">
            <h3 class="card-title">{{ book.title }}</h3>  
            {% if book.subtitle != "" %}
              <p>{{ book.subtitle }}</p>
            {% endif %}
            <p>Author:{% for author in book.authors.all %} {{ author.name }} {% endfor %}</p>
            <p>Publisher: {{ book.publisher }}</p>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Platform</th>
                    <th scope="col">Location</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Price</th>
                    <th scope="col">Postage</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  {% if abe_results.isbn %}
                  <tr>
                      <td>{{ abe_results.isbn.platform }}</td>
                      <td>{{ abe_results.isbn.location }}</td>
                      <td>{{ abe_results.isbn.condition }}</td>
                      <td>{{ abe_results.isbn.price}}</td>
                      <td>{{ abe_results.isbn.postage }}</td>
                      <td>{{ abe_results.isbn.total }}</td>
                    </tr>
                    {% endif %}
                    {% if abe_results.at %}
                    <tr>
                      <td>{{ abe_results.at.platform }}</td>
                      <td>{{ abe_results.at.location }}</td>
                      <td>{{ abe_results.at.condition }}</td>
                      <td>{{ abe_results.at.price}}</td>
                      <td>{{ abe_results.at.postage }}</td>
                      <td>{{ abe_results.at.total }}</td>
                    </tr>
                    {% endif %}
                </tbody>
              </table>
           
        </div>
      </div>
    </div>
  </div>
{% endblock %}