{% extends "books/layout.html" %}
{% load static %}

{% block body %}
<!-- inventory navbar-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Inventory</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Condition
            </a>
            <ul class="dropdown-menu">
                {% for condition in conditions %}
                    <li><a class="dropdown-item condition-sort">{{ condition }}</a></li>
                {% endfor %}  
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Order by
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Price descending</a></li>
                <li><a class="dropdown-item" href="#">Price ascending</a></li>
                <li><a class="dropdown-item" href="#">Date added descending</a></li>
                <li><a class="dropdown-item" href="#">Date added ascending</a></li>
            </ul>
          </li>
        </ul>
        <div class="container-fluid" id="inventory-search-container">
          <input class="form-control me-2" id="inventory-search" type="search" placeholder="Search by keyword..." aria-label="Search">
        </div>
      </div>
    </div>
  </nav>
<!--inventory table-->
<table class="table table-light table-striped" id="inventory-table">
    <thead>
      <tr id="inventory-header-row">
        <th scope="col">Inventory Id</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Publisher</th>
        <th scope="col">Category</th>
        <th scope="col">Condition</th>
        <th scope="col">Thumbnail</th>
      </tr>
    </thead>
    <tbody id="inventory-table-body">
    {% for book in books %}
      <tr class="inventory-row" id="row-{{ forloop.counter }}">
        <td id="id-{{ forloop.counter }}">{{ book.id }}</td>
        <td id="link-{{ forloop.counter }}"><a href="book/{{ book.id }}">{{ book.title }}</a></td>
        <td id="author-{{ forloop.counter }}">{{ book.authors }}</td>
        <td id="publisher-{{ forloop.counter }}">{{ book.publisher }}</td>
        <td id="category-{{ forloop.counter }}">{{ book.category }}</td>
        <td id="condition-{{ forloop.counter }}">{{ book.condition }}</td>
        {% if book.images.all %}
            <td id="image-{{ forloop.counter }}"><a href="{{ book.images.first.image.url }}">Thumbnail</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}