/* Add Book Page */

.fullscreen {
    width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
}

#searches-container {
  margin-left: 0;
  padding: 0;
}

#new-book-forms-container {
    display: flex;
}

#isbn-search-form {
    margin: 1vh;
}

#title-author-search-form {
    margin: 1vh;
}

.drop-down-form {
    margin-top: 1vh;
}

.img-thumbnail {
    width: 150px;
    height: 200px;
}

/* Book Page */

.image-carousel-container {
    width: 20vw;
    height: 25vh;
}