/* Layout */

/* Add Book Page */

#searches-container {
  margin-left: 0;
  padding: 0;
}

#new-book-forms-container {
    display: flex;
}

#isbn-search-form {
    margin: 1vh;
}

#title-author-search-form {
    margin: 1vh;
}

.drop-down-form {
    margin-top: 1vh;
}

.img-thumbnail {
    width: 150px;
    height: 200px;
}

#save-book-button {
    margin-top: 1vh;
}

/* Book Page */
#image-carousel-indicators .carousel-item img {
    margin: 1vh;
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
}
#book-container {
    padding: 5vh;
    display: flex;
    justify-content: center;
}

.button-container {
    padding: 1vw;
    margin-top: 1vh;
}

/* Inventory Page */

.book-link {
    text-decoration: none;
}

#cancel-button {
    margin: 0.5vw;
}

#delete-button {
    margin: 0.5vw;
}

#inventory-search {
    border-width: 3px;
}

.img-thumbnail-inventory {
   width: 100px;
}

.condition-dropdown-li {
    padding-left: 1vw;
}

#inventory-search-container {
    width: 30vw;
    margin-left: 2vw;
    margin-right: 1vw;
}

#inventory-navbar {
    border-bottom-color: black;
    border-bottom-width: 1vh;
}